#words-output{
    outline: 0;
    width:80%;
    resize: none;
}


#words-input{
    text-align: center;
    width: 80%;
    font-size: 24px;
}

#words-output> span {
    display: inline-block;
    margin: 2px;
    padding: 2px;
    font-size: 24px;
}

.current-word {
    display: block;
    border: solid black 1px;
}

.correct{
    background-color: rgb(78, 253, 78);
}

.incorrect {
    background-color: rgb(245, 81, 81);
}