#words-output{
    outline: 0;
    width:80%;
    resize: none;
}


#words-input{
    text-align: center;
    width: 80%;
}

#words-output> span {
    display: inline-block;
    margin-right: 5px;
}

.current-word {
    display: block;
    border: 2px solid black;
}
