#words-output{
    align-items: center;
    width:90%;
    position: relative; left: 50%;
    transform: translateX(-50%); 
    font-size: 1.5em;
    height: 3em;
    overflow: hidden;
    border-color: black;
    border-style: solid;
    border-width: 0.1em 0.1em 0em 0.1em;
}

#words-input{
    text-align: center;
    width: 90%;
    font-size: 24px;
    position: relative; left: 50%;
    transform: translateX(-50%); 
    border-radius:  0.25em;
}

body{
    background-color: #FAEDCA;
}

#statistics{
    text-align: center;
    width: 90%;
    position: relative; left: 50%;
    transform: translateX(-50%); 
}


#words-output> span {
    display: inline-block;
    margin: 2px;
    padding: 2px;
    font-size: 24px;
}

.current-word {
    display: block;
    border: solid black 1px;
}

.correct{
    background-color: rgb(78, 253, 78);
}

.incorrect {
    background-color: rgb(245, 81, 81);
}